 body{
	margin: 0;
	padding: 0;
  font-family: 'Raleway', sans-serif;
  font-weight:bold
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: #ffffff;
  background-color: #ffffff;
  background-image: url(../img/bg-header-image.jpg);
  background-repeat: no-repeat;
  background-size:center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
	padding-top: 50px;
  color: #ffffff;
}
.main-navigation{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-navigation-item{
  font-size: 24px;
  text-transform: uppercase;
  list-style: none;
  font-family: 'Maven Pro', sans-serif;
}

.container{
  width: 940px;
  margin: 0 auto;
}

.main-header{
 list-style: none;
}

.site-navigation a, .main-navigation-item a{
  list-style: none;
  padding: 25px 30px;
  text-decoration: none;
  color: #ffffff;
}

.main-navigation-link{
  font-weight: bold;
}