 body{
	margin: 0;
	padding: 0;
  font-family: 'Raleway', sans-serif;
  font-weight:bold;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: #000000;
  background-color: #ffffff;
  background-image: url(../img/bg-header-image.jpg);
  background-repeat: no-repeat;
  background-size:center;
}

 a{
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container{
  width: 940px;
  margin: 0 auto;
}

.main-header {
	padding: 0px 0px 63px;
  color: #ffffff;
  list-style: none;
}

.main-navigation{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 40px;
  padding: 50px 0px 90px;
  margin: 50px 0px 90px;
}

.main-navigation-item{
  font-size: 28px;
  text-transform: uppercase;
  list-style: none;
  font-family: 'Maven Pro', sans-serif;
  letter-spacing:2px;
}

.main-navigation-item a{
  list-style: none;
  padding: 25px 50px;
  color: #ffffff;
}


.main-menu a:hover,
.main-menu a:focus{
  background-color: #242424;
}


.main-navigation-link{
  font-weight: bold;
  font-size: 32px;
  letter-spacing:3px;
}

.wrapper{
  width: 170px;
  background-color: #000;
  position: relative;
  color: white;
  text-align: center;
  height: 40px;
  margin-right: 110px;
  font-size: 32px;
}

#check-menu{
  display: none;
}

label{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 2;
}

.burger-line{
  position: absolute;
  top: 9px;
  right: 10px;
  width: 20px;
  height: 3px;
  background-color: #fff;
  transition: .5s all;
}

.second, .third{
  top: 18px;
}

.fourth{
  top: 27px;
}

.main-menu{
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  max-height: 0;
  font-size: 0;
  overflow: hidden;
  transition: .5s all;
}

.main-menu a{
  display: block;
  width: 100%;
  padding: 2px;
  color: white;
  border-top: 1px solid rgba(255,255,255,.3);
  background-color: #000;
}

a:hover{
  background-color: rgba(0,0,0,.9);
}

#check-menu:checked ~ .main-menu{
  max-height: 500px;
  font-size: 16px;
}

#check-menu:checked ~ .first{
  display: none;
}

#check-menu:checked ~ .second{
  transform: rotate(45deg);
}

#check-menu:checked ~ .third{
  transform: rotate(-45deg);
}

#check-menu:checked ~ .fourth{
  display: none;
}
.headline-wrapper{
  margin: 70px 50px 150px 100px;
  padding: 70px 0px 0px 0px;
  text-align: right;
}
.headline-title{
  padding: 60px 0px 0px 0px;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing:0.8px;
}

.headline-slogan{
  padding: 10px 0px 6px 190px;
}

.headline-copyright{
  font-style: normal;
  padding: 0px 0px 100px 0px;
}

.icon-mouse{
  display: block;
  margin: 0 auto;
  padding: 180px 0px 0px 0px;
}

.navbar{
/*  padding: 0px 0px 0px 0px;*/
  margin: 0px 0px 0px 0px;
}

.nav-item{
  list-style: none;
}

.nav{
  background-color: #ffffff;
  color: #000000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 5px;
  position: sticky;
  top: 0; 
  color: #979390;
}

.nav-item-title{
  font-weight: bold;
  font-size: 30px;
  color: #000000;
}

.nav-item a:hover{
  background-color: #CEC9C9;
}

.nav-item a:focus{
  background-color:#a79e9e
}

 .nav-item-title ,.nav-item a{
  text-decoration: none;
  color: black;
  display: block;
  padding-top: 25px;
}
.nav-item-link a{
   padding: 25px 30px 20px 30px; 
   font-size: 20px;
}

.about{
  background-image: url(../img/bg-team.jpg);
  text-align: center;
  padding-top: 10px;
}
.about-title{
  font-size: 30px;
  letter-spacing:2px;
  font-weight: bold;
}
.navbar ul{
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.about-text{
  padding: 10px 150px 60px 150px;
  font-size: 14px;
  font-weight: bold;
}

.statistic{
  background-image: url(../img/background-statistics.jpg);
}